<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changing1.zhihuijujia.mapper.BalanceRecordMapper">

	<insert id="addBalanceRecord" parameterType="com.changing1.zhihuijujia.entity.BalanceRecord">
		INSERT INTO balance_record(bName,bPhoneNum,bReason,bBeforeBal,bAfterBal,bCardNum,bCardName,bTime,bState) 
		VALUES (#{bName},#{bPhoneNum},#{bReason},#{bBeforeBal},#{bAfterBal},#{bCardNum},#{bCardName},#{bTime},#{bState})
	</insert>

	<update id="updateWithdrawState" parameterType="com.changing1.zhihuijujia.entity.BalanceRecord">
	UPDATE balance_record
	SET bState=#{bState}
	WHERE bId=#{bId}
	</update>
	
	<select id="getBalanceRecordsListByCondition" resultType="com.changing1.zhihuijujia.entity.BalanceRecord">
		SELECT * FROM balance_record WHERE 1=1 
		<if test="bName!=null">
            	and bName like concat ('%',#{bName},'%')
        </if>
        <if test="bReason!=null">
            	and bReason like concat ('%',#{bReason},'%')
        </if>
        <if test="bState!=null">
            	and bState like concat ('%',#{bState},'%')
        </if>
	</select>

	<select id="getBalanceRecordsListByInputLike" resultType="com.changing1.zhihuijujia.entity.BalanceRecord">
		SELECT * FROM balance_record WHERE 1=1 
		<if test="inputLike!=null">
            	and (bName like concat ('%',#{inputLike},'%')
            	or bPhoneNum like concat ('%',#{inputLike},'%')
            	or bReason like concat ('%',#{inputLike},'%')
            	or bBeforeBal like concat ('%',#{inputLike},'%')
            	or bAfterBal like concat ('%',#{inputLike},'%')
            	or bCardNum like concat ('%',#{inputLike},'%')
            	or bCardName like concat ('%',#{inputLike},'%')
            	or bState like concat ('%',#{inputLike},'%'))
        </if>
	</select>
	
	<select id="getBalanceRecordsListByPhoneAndCondition" resultType="com.changing1.zhihuijujia.entity.BalanceRecord">
		SELECT * FROM balance_record WHERE bPhoneNum=#{bPhoneNum} 
        <if test="bReason!=null">
            	and bReason like concat ('%',#{bReason},'%')
        </if>
        <if test="bState!=null">
            	and bState like concat ('%',#{bState},'%')
        </if>
	</select>

	<select id="getBalanceRecordsListByPhoneAndInputLike" resultType="com.changing1.zhihuijujia.entity.BalanceRecord">
		SELECT * FROM balance_record WHERE bPhoneNum=#{bPhoneNum} 
		<if test="bName!=null">
            	and (bReason like concat ('%',#{bName},'%')
            	or bBeforeBal like concat ('%',#{bName},'%')
            	or bAfterBal like concat ('%',#{bName},'%')
            	or bCardNum like concat ('%',#{bName},'%')
            	or bCardName like concat ('%',#{bName},'%')
            	or bState like concat ('%',#{bName},'%'))
        </if>
	</select>
		
	<select id="getElderBalanceRecord" parameterType="com.changing1.zhihuijujia.entity.BalanceRecord" resultType="com.changing1.zhihuijujia.entity.BalanceRecord">
		SELECT * FROM balance_record WHERE bPhoneNum=#{bPhoneNum}
	</select>
	
	<select id="getShopBalanceRecord" parameterType="com.changing1.zhihuijujia.entity.BalanceRecord" resultType="com.changing1.zhihuijujia.entity.BalanceRecord">
		SELECT * FROM balance_record WHERE bPhoneNum=#{bPhoneNum}
	</select>
</mapper>